.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 15px;
  row-gap: 21px;
}

.grid > *:first-child {
  margin-top: 5px;
}

@media (min-width: 640px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 900px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 17px;
  }
}

@media (min-width: 1200px) {
  .grid {
    grid-template-columns: repeat(6, 1fr);
  }
}
